/*nav bar styles*/
.navbar {
  overflow: hidden;
  background-color: #660099;
  width: 100%;
}

.navbar a {
  float: left;
  font-size: 22px;
  color: white;
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbutton {
  font-size: 20px;  
  border: none;
  outline: none;
  color: white;
  padding: 20px 22px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover {
  background-color: #FF66FF;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFCCFF;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #660099;
  padding: 18px 20px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*each div colour and size*/

.details {
  background-color: #FF66FF;
  margin-left: 35%;
  margin-right: 35%;
  text-align: center;
  padding-bottom: 5%;
  padding-top: 5%;
}

.response {
  background-color: #FFCCFF;
  margin-left: 35%;
  margin-right: 35%;
  text-align: center;
  padding-bottom: 5%;
  padding-top: 5%;
}

.favourite {
  background-color: #FF66FF;
  margin-left: 35%;
  margin-right: 35%;
  text-align: center;
  padding-bottom: 5%;
  padding-top: 5%;
}

/*text*/
p {
  font-size: 22px;
  text-align: center;
  color: #660099; 
}

h1 {
  text-align: center;
  color: #660099;
}

h3 {
   color: #660099;
}

h2 {
    text-align: center;
    color: #660099;
    font-size: 34px;
}

#welcome {
    text-align: center;
}

#links {
    background-color: #FF66FF;
    height: 25%;
    width: 100%;
    text-align: center;
    position: fixed;
}

.how {
    font-family: monospace;
    color: #FF66FF;
    text-decoration: underline;
}

.howA {
    font-family: monospace;
    color: #FF66FF;
    text-decoration: underline;
}

.howB {
    font-family: monospace;
    color: #FF66FF;
    text-decoration: underline;
}

#how {
    color: #FF66FF;
}
    
/* button*/
#submit {
    color: #FFFFFF;
    background-color: #660099;
    margin-left: 47%;
    height: 30px;
    width: 90px;
}

/*type box*/
#box {
    height: 100px;
    width: 200px;
}


img {
    width: 100px;
    height: 100px;
}

.column {
  float: left;
  width: 10%;
  padding: 30px;
}

.row {
  clear: both;
  display: table;
  padding-left: 30%;
  padding-top: 60px;
}

/*table*/
table {
  font-family: serif;
  border-collapse: collapse;
  width: 100%;
  color: #660099;
}

td, th {
  border: 1px solid #FF66FF;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #FFCCFF;
}

/*list*/
ol {
    list-style: none;
}

ul {
    color: #660099;
    text-align: center;
    list-style-position: outside;
    list-style-type: square;
}

/*images*/
#insta {
  padding-left: 45%;
}

/*grid*/
.grid {
  display: grid;
  grid-template-columns: 200fr auto auto;
  background-color: #FFCCFF;
}

#signup {
    width: auto;
    height: auto;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

video {
    padding-right: 10px;
}

/*footer*/
footer {
    background-color: #FF66CC;
    color: #FFCCFF
}
